<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Cache Control -->
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <title>Semantic UI + Vue.js</title>
    <!-- Outdated Browser -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/outdated-browser/1.1.3/outdatedbrowser.min.css" />
    <!-- Semantic UI -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.css" />
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./src/css/app.css?v=1">
</head>

<body>
    <div id="outdated">
        <h6>Your browser is out-of-date!</h6>
        <p>Update your browser to view this website correctly. <a id="btnUpdateBrowser" href="http://outdatedbrowser.com/">Update my browser now </a></p>
        <p class="last"><a href="#" id="btnCloseUpdateBrowser" title="Close">&times;</a></p>
    </div>
    <div class="ui container">
        <h1 class="ui header title">Semantic UI + Vue.js</h1>
        <button id="expandAll" class="ui button right labeled icon">Expand All<i class="expand icon"></i></button>
        <button id="closeAll" class="ui button right labeled icon">Close All<i class="compress icon"></i></button>
    </div>
    <div class="ui container">
        <div class="ui styled fluid accordion">
            <!-- App 1 -->
            <div class="title">
                <i class="dropdown icon"></i> App 1
            </div>
            <div class="content">
                <div id="app">
                    <h1>{{ message }}</h1>
                </div>
            </div>
            <!-- App 2 -->
            <div class="title">
                <i class="dropdown icon"></i> App 2
            </div>
            <div class="content">
                <div id="app-2">
                    <span v-bind:title="message">Hover your mouse over me for a few seconds to see my dynamically bound title!</span>
                </div>
            </div>
            <!-- App 3 -->
            <div class="title">
                <i class="dropdown icon"></i> App 3
            </div>
            <div class="content">
                <div id="app-3">
                    <p v-if="seen">Now you see me</p>
                    <button class="ui secondary button" v-on:click="toggleSeen">
                        <i v-bind:class="{'fa fa-low-vision': seen, 'fa fa-eye': !seen}" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            <!-- App 4 -->
            <div class="title">
                <i class="dropdown icon"></i> App 4
            </div>
            <div class="content">
                <div id="app-4">
                    <ol>
                        <li v-for="todo in todos">
                            {{ todo.text }}
                        </li>
                    </ol>
                </div>
            </div>
            <!-- App 5 -->
            <div class="title">
                <i class="dropdown icon"></i> App 5
            </div>
            <div class="content">
                <div id="app-5">
                    <p>{{ message }}</p>
                    <button class="ui icon button" v-on:click="reverseMessage">
                        <i class="fa fa-exchange" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            <!-- App 6 -->
            <div class="title">
                <i class="dropdown icon"></i> App 6
            </div>
            <div class="content">
                <div id="app-6">
                    <p><code>{{ message }}</code></p>
                    <div class="ui action input">
                        <input v-model="message">
                        <button class="ui secondary button" v-on:click="reverseMessage">
                            <i class="fa fa-exchange" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
            <!-- App 7 -->
            <div class="title">
                <i class="dropdown icon"></i> App 7
            </div>
            <div class="content">
                <div id="app-7">
                    <ol>
                        <!-- Now we provide each todo-item with the todo object    -->
                        <!-- it's representing, so that its content can be dynamic -->
                        <todo-item v-for="item in groceryList" v-bind:todo="item"></todo-item>
                    </ol>
                </div>
            </div>
            <!-- Computed Properties -->
            <div class="title">
                <i class="dropdown icon"></i> Computed Properties
            </div>
            <div class="content">
                <div id="computedApp">
                    <p>Original message: "{{ message }}"</p>
                    <p>Computed reversed message: "{{ reversedMessage }}"</p>
                </div>
            </div>
            <!-- Arguments -->
            <div class="title">
                <i class="dropdown icon"></i> Arguments
            </div>
            <div class="content">
                <div id="argument">
                    <p>Go To: <a v-bind:href="computedHref">{{ computedHref }}</a></p>
                    <div class="ui fluid labeled input">
                        <select class="ui compact dropdown label" v-model.number="protocol">
                            <option value="1">https://</option>
                            <option value="0">http://</option>
                        </select>
                        <input v-model="href" type="text">
                    </div>
                </div>
            </div>
            <!-- Class and Style Binding -->
            <div class="title">
                <i class="dropdown icon"></i> Class &amp; Style Binding
            </div>
            <div class="content">
                <div id="classBinding">
                    <button class="ui button" v-bind:class="{ red: isRed }">
                        Hello!
                    </button>
                    <button class="ui button" @click="toggleClass">
                        Toggle Class
                    </button>
                </div>
            </div>
            <!-- HTTP Request -->
            <div class="title">
                <i class="dropdown icon"></i> HTTP Request with axios
            </div>
            <div class="content">
                <div id="httpRequest">
                    <div class="ui form" v-bind:class="{ loading:isLoading }">
                        <div class="field">
                            <label>Response</label>
                            <textarea v-model="content" readonly></textarea>
                        </div>
                        <button class="ui button" @click="callApi">
                            Call API
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Outdated Browser -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/outdated-browser/1.1.3/outdatedbrowser.min.js"></script>
    <!-- Lodash -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.2/lodash.min.js"></script>
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Semantic UI -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.js"></script>
    <!-- Vue.js core -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.6/vue.min.js"></script>
    <!-- axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.2/axios.min.js"></script>
    <script src="./src/js/app.js?v=4"></script>
    <script>
        window.onload = function() {
            outdatedBrowser({
                bgColor: '#f25648',
                color: '#ffffff',
                lowerThan: 'transform'
            });
        }
    </script>
</body>

</html>